/*
    Estilos concretos sin TailwindCSS
    -Rodrigo Moreno Bielsa

*/

/* Backgrounds */
.fondo-index {
    background-image: url("../assets/images/fondo1.jpg");
}

.fondo-form {
    background-image: url("../assets/images/fondo2.jpg");
}

.fondo-donate-adopt {
    background-image: url("../assets/images/fondo3.jpg");
}

/* Form Validation */

.form__field {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}

/* Invalid form */
.form__field:invalid {
    border: 2px solid rgb(157, 11, 11);
    background-color: rgb(241, 141, 141);
    color: rgb(163, 6, 6);
}

/* Valid Form */
.form__field:valid {
    border: 2px solid rgb(5, 157, 26);
    background-color: rgb(149, 234, 153);
    color: rgb(11, 116, 11);
}

/* Error msg */
.text__error {
    display: none;
    font-size: 0.875rem;
    color: rgb(163, 6, 6);
}
